<table class="min-w-full" role="grid" aria-label="Related Instructions">
  <thead class="border-b">
    <tr>
      <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
        Title
      </th>
      <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
        Skills
      </th>
      <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
        Hours
      </th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "work_processes/work_process", collection: work_processes %>
  </tbody>
</table>
