<tr class="border-b">
  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap text-left">
    <%= link_to work_process.title, "#", class: "default-colors" %>
  </td>
  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap text-left">
    <% if work_process.competencies.any? %>
      <%= link_to work_process.competencies.count, "#" %>
    <% else %>
      0
    <% end %>
  </td>
  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap text-left">
    <%= hours_range(work_process) %>
  </td>
</tr>
