<tr class="border-b">
  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap text-left">
    <%= related_instruction.id %>
  </td>
  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap text-left">
    <%= related_instruction.title %>
  </td>
  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap text-left">
    <%= related_instruction.hours %>
  </td>
  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap text-left">
    <%= related_instruction.elective %>
  </td>
</tr>
