<tr class="border-b">
  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap text-left">
    <%= link_to related_instruction.title, "#", class: "default-colors" %>
  </td>
  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap text-left">
    <%= related_instruction.hours %>
  </td>
</tr>
