<div class="flex flex-col">
  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
    <h2 class="w-full max-w-prose mx-auto text-center font-semibold text-xl mb-4">Related Instructions</h2>
    <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
      <div class="overflow-hidden">
        <%= render partial: "related_instructions/table", locals: {related_instructions: @related_instructions} %>
      </div>
    </div>
  </div>
</div>
