<tr class="border-b">
  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
    <%= link_to occupation.name, occupation, class: "underline" %>
  </td>
  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
    <%= occupation.description %>
  </td>
</tr>
