<% if existing_action?(collection_presenter.resource_name, :edit) %>
  <td><%= if accessible_action?(resource, :edit)
            link_to(
              t("administrate.actions.edit"),
              [:edit, namespace, resource.source_file, resource],
              class: "action-edit"
            )
          end %></td>
<% end %>
