<% content_for(:title) { t("administrate.actions.edit_resource", name: page.page_title) } %>

<header class="main-content__header" role="banner">
  <h1 id="title_id" class="main-content__page-title">
    <%= content_for(:title) %>
  </h1>

  <div>
    <%= if accessible_action?(page.resource, :show)
          link_to(
            t("administrate.actions.show_resource", name: page.page_title),
            admin_import_data_import_path(page.resource.import, page.resource),
            class: "button"
          )
        end %>
  </div>
</header>

<section aria-labelledby="title_id" class="main-content__body">
  <%= render "form", page: page %>
</section>
