<p>
  The following standards have been added to <a href="https://apprenticeshipstandards.org">apprenticeshipstandards.org</a>:
</p>

<% @source_files.each do |source_file| %>
  <div style="margin-top: 24px;">
    <p><%= source_file.filename %></p>
    <ul>
      <% source_file.associated_occupation_standards.each do |standard| %>
        <li>
          <%= link_to occupation_standard_url(standard, host: @host), occupation_standard_url(standard, host: @host) %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
