---
openapi: 3.0.1
info:
  title: API V1
  version: v1
paths:
  "/api/v1/occupations":
    get:
      summary: List occupations
      responses:
        '200':
          description: successful
          content:
            application/vnd.api+json:
              example:
                data:
                - id: fe5ee882-442b-4dd6-8199-47e2546061c0
                  type: occupations
                  links:
                    self: http://www.example.com/api/v1/occupations/fe5ee882-442b-4dd6-8199-47e2546061c0
                  attributes:
                    name: Accordion Maker
                    onet_code:
                    rapids_code: '0860'
                    time_based_hours: 8000
                    competency_based_hours: 8500
                - id: 37bf165c-101d-4388-b118-ea96bf2d7551
                  type: occupations
                  links:
                    self: http://www.example.com/api/v1/occupations/37bf165c-101d-4388-b118-ea96bf2d7551
                  attributes:
                    name: Information Technology Specialist
                    onet_code: 51-7011.00
                    rapids_code: '1132'
                    time_based_hours: 2782
                    competency_based_hours: 2000
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                        links:
                          type: object
                          properties:
                            self:
                              type: string
                          required:
                          - self
                        attributes:
                          type: object
                          properties:
                            name:
                              type: string
                            onet_code:
                              type: string
                              nullable: true
                            rapids_code:
                              type: string
                              nullable: true
                            time_based_hours:
                              type: integer
                              nullable: true
                            competency_based_hours:
                              type: integer
                              nullable: true
                          required:
                          - name
                      required:
                      - id
                      - type
                      - attributes
                      - links
                required:
                - data
  "/api/v1/occupations/{id}":
    get:
      summary: Retrieve occupation
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful
          content:
            application/vnd.api+json:
              example:
                data:
                  id: 62a0afeb-cc61-4932-bcca-f5a97e9af002
                  type: occupations
                  links:
                    self: http://www.example.com/api/v1/occupations/62a0afeb-cc61-4932-bcca-f5a97e9af002
                  attributes:
                    name: Information Technology Specialist
                    onet_code: 51-7011.00
                    rapids_code: '1132'
                    time_based_hours: 2782
                    competency_based_hours: 2000
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      type:
                        type: string
                      links:
                        type: object
                        properties:
                          self:
                            type: string
                        required:
                        - self
                      attributes:
                        type: object
                        properties:
                          name:
                            type: string
                          onet_code:
                            type: string
                            nullable: true
                          rapids_code:
                            type: string
                            nullable: true
                          time_based_hours:
                            type: integer
                            nullable: true
                          competency_based_hours:
                            type: integer
                            nullable: true
                        required:
                        - name
                      required:
                      - id
                      - type
                      - attributes
                      - links
                required:
                - data
servers:
- url: https://admin.apprenticeshipstandards.org
  description: Production server
- url: http://localhost:3000
  description: Local development server (uses test data)
- url: http://admin.example.localhost:3000
  description: Local development server (uses test data)
