<div class="w-full flex flex-col mx-auto">
  <h2 class="w-full max-w-prose mx-auto text-center font-semibold text-xl mb-4">File Imports</h2>
    <% @file_imports.find_each do |file_import| %>
      <div class="flex justify-between items-center bg-white shadow-md rounded mb-4 py-3 px-3">
        <p class="font-medium"> <%= link_to file_import.active_storage_attachment.blob.filename, file_import.active_storage_attachment.blob.url %> </p>
        <p class="text-sm rounded-full py-2 px-4 bg-amber-300"><%= file_import.status.titleize %> </p>
      </div>
    <% end %>
</div>
