<%= render partial: "occupation_standards/header" %>

<section aria-label="main content" role="main" class="bg-seafoam-50 dark:bg-gray-900">
  <div class="mx-auto max-w-screen-xl py-8 px-4 sm:py-16 lg:px-6">
    <div>
      <h3 class="font-bold text-2xl mt-4 mb-2">About</h3>
      <p>The Compendium is part of the Urban Institute’s Registered Apprenticeship Occupations and Standards Center of Excellence. In partnership with the U.S. Department of Labor’s Office of Apprenticeship, the mission of the Center of Excellence is to build a gold-standard occupational skills infrastructure that increases the transparency, portability, quality, usability, and scalability of the US apprenticeship system. In addition to this [compendium], the Center of Excellence is developing more than 80 National Occupational Frameworks, institutionalizing best practices, and promoting methodologies to ensure a sustainable, high-quality registered apprenticeship system.</p>
    </div>
</section>

<%= render partial: "layouts/footer" %>
