<%= render partial: "occupation_standards/header" %>

<section aria-label="main content" role="main" class="bg-seafoam-50 dark:bg-gray-900">
  <div class="mx-auto max-w-screen-xl border border-dotted border-yellow-300 py-8 px-4 sm:py-16 lg:px-6">
    <div>
      <p>There are five key steps involved in creating your very own Registered Apprenticeship Program. The steps below outline important considerations when building a new program along with the tools to help you get started before you register your program.</p>

      <h3 class="font-bold text-2xl mt-6 mb-2">Select an Occupation for Your Program</h3>
      <p>Identifying the occupation for which you are seeking to leverage Registered Apprenticeship is a critical step in developing your program. Your organization should first identify the occupation for which you are seeking registration. We have established apprenticeships in many occupations in a variety of industries and offer training plans that have been vetted by industry leaders. Browse our Occupation Finder to find your preferred occupation and determine if it has already been approved for use in a Registered Apprenticeship Program.</p>

      <h3 class="font-bold text-2xl mt-6 mb-2">Identify Sponsors and Partners</h3>
      <p>Identify a willing sponsor and engage key partners including apprenticeship offices, sponsors, educators, intermediaries, workforce development boards, and/or American Job Centers using the Partner Finder. A sponsor is any person, association, committee, or organization that operates a Registered Apprenticeship Program. This entity assumes the full responsibility for administration and operation of the apprenticeship program. Sponsors can be a single business or a consortium of businesses. Alternatively, the sponsor can be a workforce intermediary, such as an industry association or a labor-management organization. Community colleges and community-based organizations can also serve as sponsors of apprenticeship programs.
      Apprenticeship programs largely rely on a strong partnership network to help meet business objectives. Our Partner Finder can connect you with the right partners to help you design, develop, or enhance your program.</p>

      <h3 class="font-bold text-2xl mt-6 mb-2">Connect with Experts</h3>
      <p>Connect with Office of Apprenticeship or State Apprenticeship Agency (SAA) staff to assess suitability for local (SAA) or national (OA) standards and complete registration process through the Express Interest form.</p>

      <h3 class="font-bold text-2xl mt-6 mb-2">Develop Core Components of Your Program</h3>
      <p>Registered Apprenticeship Programs include seven key components. Review each component below to help establish your program.</p>
    </div>
</section>
