<section aria-labelledby="page-title" class="occ-hero bg-no-repeat bg-cover bg-center bg-gray-700">
  <%= render partial: "layouts/nav" %>
</section>

<section aria-label="main content" role="main" class="bg-seafoam-50">
  <div class="mx-auto max-w-screen-xl py-8 px-4 sm:py-16 lg:px-6">
    <div>
      <h3 class="font-bold text-2xl mt-4 mb-2">Fact Sheets</h3>

      <p><%= link_to "National Occupational Frameworks", asset_path("documents/Urban-FACTSHEET-NOF.pdf", skip_pipeline: true), class: "hover:underline", target: :_blank %></p>
      <p><%= link_to "Registered Apprenticeship Standards Library", asset_path("documents/Urban-FACTSHEET-RASL.pdf", skip_pipeline: true), class: "hover:underline", target: :_blank %></p>
    </div>
</section>
