<section aria-labelledby="page-title" class="occ-hero bg-no-repeat bg-cover bg-center bg-gray-700">
  <%= render partial: "layouts/nav" %>
</section>

<section aria-label="main content" role="main" class="bg-seafoam-50">
  <div class="mx-auto max-w-screen-xl py-8 px-4 sm:py-16 lg:px-6">
    <div>
      <h3 class="font-bold text-2xl mt-4 mb-2">Privacy/Terms</h3>
      <p>This project has been funded, either wholly or in part, with federal funds
        from the Department of Labor, Employment and Training Administration under
        Cooperative Grant Number AP-36653-21-75-A-11. The contents of this publication
        do not necessarily reflect the views or policies of the Department of Labor,
        nor does mention of trade names, commercial products, or organizations imply
        endorsement of the same by the US Government.
      </p>
    </div>
</section>
