<div>
  <% @recently_redacted_records.each do |record| %>
    <div>
      <% if Flipper.enabled?(:show_imports_in_administrate) %>
        <%= link_to record.filename, admin_import_url(record) %>
      <% else %>
        <%= link_to record.active_storage_attachment.filename, admin_source_file_url(record) %>
      <% end %>
      <br> <br>
    </div>
  <% end %>
</div>
