<h1>New standards import uploaded</h1>

<p>
Name: <%= @standards_import.name %>
</p>

<p>
Email: <%= @standards_import.email %>
</p>

<p>
Organization: <%= @standards_import.organization %>
</p>

<p>
<%= @standards_import.file_count %> files uploaded
</p>
