<div class='accordion w-full mx-auto'>
    <details class="w-full bg-white border-b-2 border-seafoam-300 cursor-pointer">
        <summary class="w-full items-center bg-seafoam-200 flex space-x-4 px-4 py-2 before:content-['+'] before:mr-4 before:font-bold before:text-3xl before:text-secondary-600">

            <div class="flex w-full items-center justify-between">
                <div class="space-x-3">
                    <span class="skill-title text-xl text-primary-900 font-bold">Technical Math</span>
                    <span class="skill-code text-primary-600">15.0501</span>
                </div>

                <div class="flex items-center">
                    <div class="flex flex-row">
                        <div class="m-1.5 w-28 rounded bg-yonder-100 px-1 py-3 text-center">
                            <div class="text-3xl font-bold text-yonder-600">4</div>
                        </div>
                        <div class="m-1.5 w-28 rounded bg-rust-100 px-1 py-3 text-center">
                            <div class="text-3xl font-bold text-rust-700">150</div>
                        </div>
                    </div>
                </div>
            </div>
        </summary>
        <div class="accordion-content space-y-4 p-8 text-primary-600">
            <p>
                Nunc posuere dapibus urna quis cursus. Mauris malesuada tincidunt diam vel placerat mi tincidunt ac.
                Nullam augue urna, venenatis ut blandit eget, auctor vel eros. In ut dolor ante
            </p>
            <ol class="list-decimal list-inside space-y-1" role="list">
                <li>Skill One</li>
                <li>Skill Two</li>
                <li>Skill Three</li>
                <li>Skill Four</li>
            </ol>
        </div>
    </details>

    <details class="w-full bg-white border-b-2 border-seafoam-300 cursor-pointer">
        <summary class="w-full items-center bg-seafoam-200 flex space-x-4 px-4 py-2 before:content-['+'] before:mr-4 before:font-bold before:text-3xl before:text-secondary-600">
            <div class="flex w-full items-center justify-between">

                <div class="space-x-3">
                    <span class="skill-title text-xl text-primary-900 font-bold">Drives and Motor Controls</span>
                    <span class="skill-code text-primary-600">Skill Code</span>
                </div>

                <div class="flex items-center">
                    <div class="flex flex-row">
                        <div class="m-1.5 w-28 rounded bg-yonder-100 px-1 py-3 text-center">
                            <div class="text-3xl font-bold text-yonder-600">4</div>
                        </div>
                        <div class="m-1.5 w-28 rounded bg-rust-100 px-1 py-3 text-center">
                            <div class="text-3xl font-bold text-rust-700">150</div>
                        </div>
                    </div>
                </div>

            </div>
        </summary>
        <div class="accordion-content space-y-4 p-8 text-primary-600">
            <p>
                Nunc posuere dapibus urna quis cursus. Mauris malesuada tincidunt diam vel placerat mi tincidunt ac.
                Nullam augue urna, venenatis ut blandit eget, auctor vel eros. In ut dolor ante
            </p>
            <ol class="list-decimal list-inside space-y-1" role="list">
                <li>Skill One</li>
                <li>Skill Two</li>
                <li>Skill Three</li>
                <li>Skill Four</li>
            </ol>
        </div>
    </details>

    <details class="w-full bg-white border-b-2 border-seafoam-300 cursor-pointer">
        <summary class="w-full items-center bg-seafoam-200 flex space-x-4 px-4 py-2 before:content-['+'] before:mr-4 before:font-bold before:text-3xl before:text-secondary-600">
            <div class="flex w-full items-center justify-between">
                <div class="space-x-3">
                    <span class="skill-title text-xl text-primary-900 font-bold">Low Pressure Chiller Systems</span>
                    <span class="skill-code text-primary-600">Skill Code</span>
                </div>

                <div class="flex items-center">
                    <div class="flex flex-row">
                        <div class="m-1.5 w-28 rounded bg-yonder-100 px-1 py-3 text-center">
                            <div class="text-3xl font-bold text-yonder-600">4</div>
                        </div>
                        <div class="m-1.5 w-28 rounded bg-rust-100 px-1 py-3 text-center">
                            <div class="text-3xl font-bold text-rust-700">150</div>
                        </div>
                    </div>
                </div>

            </div>
        </summary>
        <div class="accordion-content space-y-4 p-8 text-primary-600">
            <p>
                Nunc posuere dapibus urna quis cursus. Mauris malesuada tincidunt diam vel placerat mi tincidunt ac.
                Nullam augue urna, venenatis ut blandit eget, auctor vel eros. In ut dolor ante
            </p>
            <ol class="list-decimal list-inside space-y-1" role="list">
                <li>Skill One</li>
                <li>Skill Two</li>
                <li>Skill Three</li>
                <li>Skill Four</li>
            </ol>
        </div>
    </details>
</div>