<div class="my-6">
  <h3 class="w-full max-w-prose mx-auto text-center font-semibold text-xl mb-4">Work Processes</h3>
  <%= render partial: "work_processes/table", locals: {work_processes: @occupation_standard.work_processes} %>
</div>
<div class="my-6">
  <h3 class="w-full max-w-prose mx-auto text-center font-semibold text-xl mb-4">Related Instructions</h3>
  <%= render partial: "related_instructions/table", locals: {related_instructions: @occupation_standard.related_instructions} %>
</div>
