<%= render partial: "occupation_standards/header" %>

<nav class="flex px-5 py-3 text-gray-700 bg-seafoam-900" aria-label="Breadcrumb">
    <ol class="inline-flex items-center space-x-1 md:space-x-3">
        <li class="inline-flex items-center">
            <a href="/home" class="inline-flex items-center text-sm font-medium text-gray-50 hover:text-white">
                <svg aria-hidden="true" class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path>
                </svg>
                Home
            </a>
        </li>
        <li aria-current="page">
            <div class="flex items-center">
                <svg aria-hidden="true" class="w-6 h-6 text-gray-50" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
                </svg>
                <%#= link_to "Search Results", occupation_standards_path, class: "ml-1 text-sm font-medium md:ml-2 text-gray-50 hover:text-white" %>
            </div>
        </li>
    </ol>
</nav>

<section aria-labelledby="occupation-title" class="bg-seafoam-50 dark:bg-gray-900">
    <div class="mx-auto max-w-screen-xl py-8 px-4 sm:py-16 lg:px-6">
        <div class="mb-8 flex lg:mb-8">
            <h2 class="mb-4 text-2xl tracking-tight text-gray-900 dark:text-white">
                Showing Results for
                <span class="font-bold">"Mechatronics Techinician"</span>
            </h2>
        </div>

<% @occupation_standards.each do |occupation_standard| %>
  <div><%= link_to occupation_standard.title, occupation_standard, class: "default-colors" %></div>
<% end %>


    </div>
</section>
