<div class="flex flex-col">
  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
    <h1 class="w-full max-w-prose mx-auto text-center font-semibold text-xl mb-4">Occupation Standards</h1>
    <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
      <div class="overflow-hidden">
        <table class="min-w-full">
          <thead class="border-b">
            <tr>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                Title
              </th>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                Occupation
              </th>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                Registration Agency
              </th>

              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                RAPIDS code
              </th>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                ONET code
              </th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: "occupation_standard", collection: @occupation_standards %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
