<div class="field-unit__label">
  <%= f.label field.permitted_attribute %>
</div>
<div class="field-unit__field">
  <%= f.select(
        field.permitted_attribute,
        options_from_collection_for_select(User.not_basic, :id, :name, field.selected_option),
        include_blank: field.include_blank_option
      ) %>
</div>
