<div id="data-imports" class="w-full flex flex-col mx-auto">
  <h1 class="w-full max-w-prose mx-auto text-center font-semibold text-xl mb-4">Occupation Standard Data Imports</h1>
  <% @data_imports.find_each do |data_import| %>
    <div class="flex justify-between items-center bg-white shadow-md rounded mb-4 py-3 px-3">
      <p class="font-medium"><%= data_import.description %></p>
      <%= link_to "Edit", edit_data_import_path(data_import) %>
    </div>
  <% end %>
</div>
