<h1 class="w-full max-w-prose mx-auto text-center">Source file: <%= @source_file.filename %></h1>

<div class="mt-3">
  <% @source_file.data_imports.each do |data_import| %>
    <div class="flex justify-between items-center bg-white shadow-md rounded mb-4 py-3 px-3">
      <p class="font-medium"><%= link_to data_import.file.filename, source_file_data_import_path(@source_file, data_import) %></p>
      <%#= link_to "Convert", source_file_path(source_file) %>
      <%#= link_to "Edit", edit_source_file_path(source_file) %>
    </div>
  <% end %>
</div>
<%#= render "data_imports/form" %>
