/* Flowbite styling is causing the Submit buttons to disappear
so reinstate initial behavior */
[type="text"],
[type="number"],
.main-content__body {
  button, input:not([type]), .button {
    appearance: auto;
    background-color: #1976d2;

    &:hover {
      background-color: #145ea8;
      color: #fff;
    }
  }

  input[type="text"] {
    background-color: #fff;
    color: #000;
  }

  input[type="file"] {
    background-color: #fff;
    color: #000;
    border: 1px solid black;

    &:hover {
      background-color: #eee;
      color: #000;
    }
  }
}

.field-unit--last_file_notice {
  margin-bottom: 0;
}

/* Fix some Flowbite styling that is getting overridden by Administrate */
div#dropdown {
  a {
    color: inherit;

    &:hover {
      color: #13599e;
    }
  }
}

/* The input search is turning blue on hover.
Seems like this is an Administrate issue,
but will look into it more later. */
input#search {
  color: rgb(41, 63, 84);

  &:hover {
    background-color: #fff;
    color: rgb(41, 63, 84);
  }
}
