/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @tailwind base;
 @tailwind components;
 @tailwind utilities;
 

 .occupation-tabs *:focus, .occupation-tabs input:focus + label {
    outline: none;
    box-shadow: 0px 1px 0px 0px #007F82;
  }
  
  .occupation-tabs .radiotab {
    position: absolute;
    opacity: 0;
  }
  
  .occupation-tabs .label {
    cursor: pointer;
    transition: background .3s, color .3s;
    /* margin-right: 20px; */
  }
  
  .occupation-tabs .label:active {
    background: #f3f3f3;  
  }
  
  .occupation-tabs .radiotab:checked + .label {
    border-bottom: solid 3px #007F82;
    font-weight: bold;
  }
  
  .occupation-tabs .radiotab:checked + .label + .panel {
    display: block;
  }

  

  .accordion details summary::-webkit-details-marker {
    display: none;
}

.accordion details[open] summary {
    background: #415262;
}

.accordion details[open] summary .skill-title {
    color: #F3F7F8;
}

.accordion details[open] summary .skill-code {
    color: #C6D3DB;
}

.accordion details[open] summary::before {
    content: "-";
    color: #FF7169;
}

.accordion details[open] summary ~ * {
    animation: slideDown 0.3s ease-in-out;
}

.accordion details[open] summary p {
    opacity: 0;
    animation-name: showContent;
    animation-duration: 0.6s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    margin: 0;
}

@keyframes showContent {
    from {
    opacity: 0;
    height: 0;
    }
    to {
    opacity: 1;
    height: auto;
    }
}
@keyframes slideDown {
    from {
    opacity: 0;
    height: 0;
    padding: 0;
    }

    to {
    opacity: 1;
    height: auto;
    }
}