/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @tailwind base;
 @tailwind components;
 @tailwind utilities;
 
  .occupation-tabs{
     display: block;
     position: relative;
 }
 
 .occupation-tabs .tab{
     float: left;
     display: block;
 }
 
 .occupation-tabs .tab>input[type="radio"] {
     position: absolute;
     top: -9999px;
     left: -9999px;
 }
 
 .occupation-tabs .tab>label {
     cursor: pointer;
     position: relative;
 }
 
 .occupation-tabs .content {
     z-index: 0;/* or display: none; */
     overflow: hidden;
     position: absolute;
     left: 0;
     opacity:0;
     transition: opacity 400ms ease-out;
 }
 
 .occupation-tabs>.tab>[id^="tab"]:checked + label {
     top: 0;
     font-weight: bold;
     border-bottom: solid 2px green;
 }
 
 .occupation-tabs>.tab>[id^="tab"]:checked ~ [id^="tab-content"] {
     z-index: 1;/* or display: block; */
    
     opacity: 1;
     transition: opacity 400ms ease-out;
 }