/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @tailwind base;
 @tailwind components;
 @tailwind utilities;



 .occupation-tabs *:focus, .occupation-tabs input:focus + label {
    outline: none;
    box-shadow: 0px 1px 0px 0px #007F82;
  }

  .occ-hero {
    background-image: url('header-background.png');
  }

  .occupation-tabs .radiotab {
    position: absolute;
    opacity: 0;
  }

  .occupation-tabs .label {
    cursor: pointer;
    transition: background .3s, color .3s;
    /* margin-right: 20px; */
  }

  .occupation-tabs .label:active {
    background: #f3f3f3;
  }

  .occupation-tabs .radiotab:checked + .label {
    border-bottom: solid 3px #007F82;
    font-weight: bold;
  }

  .occupation-tabs .radiotab:checked + .label + .panel {
    display: block;
  }

  .accordion details summary::-webkit-details-marker {
    display: none;
}

.accordion details[open] summary {
    background: #415262;
}

.accordion details[open] summary .skill-title {
    color: #F3F7F8;
}

.accordion details[open] summary .skill-code {
    color: #C6D3DB;
}

.accordion details[open] summary::before {
    content: "-";
    color: #FF7169;
}

.accordion details[open] summary ~ * {
}

.accordion details[open] summary div {
    animation-duration: 0.6s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}

.pagy-nav.pagination {
  font-family: 'Montserrat', sans-serif;
  color: #066B6E;
  font-weight: bold;
}

.pagy-nav.pagination a {
  text-decoration: none;
  color: #066B6E;
}

.pagy-nav.pagination a:hover {
  color: #018083;
}

.pagy-nav.pagination .page {
  padding: 7px 10px;
  text-align: center;
}

.pagy-nav.pagination .active {
  color: #fff;
  background-color: #018083;
  border-radius: 7px;
}

.pagy-nav.pagination .disabled {
  color: #9AC1C1;
}

.pagy-nav.pagination .prev {
  margin-right: 15px
}

.pagy-nav.pagination .next {
  margin-left: 15px
}
