


<html>
  <head>
    <meta charset="utf-8" />
    <script src="https://unpkg.com/pdf-lib"></script>
  </head>

  <body>
    <iframe id="pdf" style="width: 100%; height: 100%;"></iframe>
  </body>

  <script>
    createPdf();


    async function createPdf() {
      const url = 'https://pdf-lib.js.org/assets/with_update_sections.pdf'
      const existingPdfBytes = await fetch(url).then(res => res.arrayBuffer())
      const pdfDoc = await PDFLib.PDFDocument.load(existingPdfBytes);


      const helveticaFont = await pdfDoc.embedFont(PDFLib.StandardFonts.Helvetica)

      const pages = pdfDoc.getPages()
      const firstPage = pages[0]
      const { width, height } = firstPage.getSize()
      firstPage.drawText('This text was added with JavaScript!', {
        x: 5,
        y: height / 2 + 300,
        size: 50,
        font: helveticaFont,
        color: PDFLib.rgb(0.95, 0.1, 0.1),
        rotate: PDFLib.degrees(-45),
      })

      const lineOptions = {
        color: PDFLib.rgb(0, 0, 0),
        start: {
          x: 180,
          y: 250,
        },
        end: {
          x: 440,
          y: 250

        },
        thickness: 14

      };
      firstPage.drawLine(lineOptions)
      //
      //  const pdfBytes = await PDFDocument.pdfDoc.save()
      //

      const page = pdfDoc.addPage([350, 400]);
      page.moveTo(110, 200);
      page.drawText('Hello World!');
      const pdfDataUri = await pdfDoc.saveAsBase64({ dataUri: true });
      document.getElementById('pdf').src = pdfDataUri;
    }

  </script>
</html>
